<div>
  <link href="./place-card.css" rel="stylesheet" />
  <div class="place-card-container">
    <img
      alt="image"
      src="public/playground_assets/img-4372-300w.jpg"
      class="place-card-image"
    />
    <div class="place-card-container1">
      <span class="place-card-text"><span>City Name</span></span>
      <span class="place-card-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </span>
      </span>
      <OutlineButton>
        <div class="outline-button-container">
          <button class="outline-button-button button">
            <span>Discover place</span>
          </button>
        </div>
      </OutlineButton>
    </div>
  </div>
</div>
